@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Shadows+Into+Light+Two&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

body {
  background: #dcdce6;
  background-image: url("./assets/Background.png");
}
